 html {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            
        }

        h2 {
            color: #ffffff;
        }

        h3, h4 {
            color: #6a9955;
        }

        #quizForm {
            background-color: #1a1a1a;
            padding: 20px;
            border-radius: 10px;
        }

        #quizForm label {
            color: #ffffff;
        }

        #quizForm div {
            margin: 10px 0;
        }

        #quizForm input[type="checkbox"] {
            color: #6a9955;
        }

        #quizForm button[type="submit"] {
    background-color: #6a9955;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Center the button */
    margin: 0 auto; /* Center horizontally */
}
        #result {
            margin: 20px 0;
            color: rgb(249, 187, 17);
            font-weight: 700;
            text-align: center;
        }


        #correctAnswers {
            display: none;
            background-color: #1a1a1a;
            border-radius: 5px;
            color: #ffffff;
            padding: 10px;
            border: gainsboro 1.5px solid;
            border-radius: 15px;
            margin-bottom: 15px;
            line-height: 1.7rem;
        }

        #correctAnswers h3 {
            color: #6a9955;
        }

        #toggleCorrectAnswers {
    animation: glow 1s ease-in-out infinite alternate;
    background-color: #6a9955;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button horizontally */
}

        @keyframes glow {
            0% {
                box-shadow: 0 0 5px #fbff00;
            }
            100% {
                box-shadow: 0 0 20px hsl(86, 55%, 62%);
            }
        }
